<%- include('partials/header') %>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <div class="error-container">
                <h1 class="display-4 mb-4">Oops!</h1>
                <p class="lead mb-4"><%= message %></p>
                <a href="/" class="btn btn-primary">Go Back Home</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 